
@* @{ *@
@*     ViewData["Title"] = "View"; *@
@* } *@

@* <h1>View</h1> *@

@model IEnumerable<grocery_store.Models.Cart>

<h2>Danh sách CartItems</h2>
<table>
    <tr>
        <th>Id</th>
        <th>ProviderId</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.UserId</td>
        </tr>
    }
</table>
